/* import fonts */
@import url('./font.css');

/* css partials */
@import url('./partials/variables.css');
@import url('./partials/global.css');



/* Inicio Nav */
.header-area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header-area .main-menu .navbar {
    padding: 1rem;
}

.header-area .main-menu .nav-item .nav-link {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.4rem;
    color: var(--title-color);
}

.header-area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Fin Nav*/


/* Inicio Home */
.home {
    padding: 2rem 5rem;
}

.home .home-title h2>span {
    display: block;
    font-family: var(--roboto);
    font: bold;
    font-size: 49px/ 60px;
    letter-spacing: 20px;
}

.home .home-title .paragraph>p {
    padding: .4rem 0;
}

/* Fin Home */

/* Inicio Productos */
.registro {
    padding: 2rem 5rem;
    position: relative;
}

.registro title {
    display: block;
    font-family: var(--roboto);
    font: bold;
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.registro .input-container {
    margin-top: -10px;
    /* text-align: center; */

}

.registro .input {
    font-family: var(--roboto);
    font: bold;
    font-size: 20px;
    width: 250px;
    margin-bottom: 2%;
    border-radius: 5%;
    box-shadow: none;
    
}

.registro .-title .paragraph>p {
    padding: .4rem 0;
    font: bold;
    font-size: 49px/ 60px;
}

#button1 {
    background-color: #4CAF50;
    font-size: 26px;
    border-radius: 4px;
    margin-top: 5%;
}

/* Green */

/* Fin Home */


/* brand logo size */
.img-size {
    width: 40%;
}

.input {
    font-family: var(--roboto);
    font: bold;
    font-size: 46px;
    width: 250px;
}